@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{outline: 1px solid red;} */
.glass {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(245, 245, 245, 0.75);
    border: 1px solid rgba(29, 29, 29, 0.125);
}

.shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.text-shadow{
    text-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

.head{
    background: url(/images/pexels-jane-doan-916904.jpg);
    background-size: cover;
    background-position: center;
}

img{
    display: inline-block;
    max-width: 100%;
}

.marquee {
    display: flex;
    background-color: #000000;
    overflow: hidden;
    padding: .3em;
}
.marquee h5 {
    font-size: 20px;
    white-space: nowrap;
    padding: 0 11rem;
    color: white;
    letter-spacing: 1px;
    animation: moveR 6000ms linear infinite;
}
@keyframes moveR {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}

.header{
    /* color: #F3AD61; */
    color: white;
}

.main{
    height: 550px;
}

.title{
    background: url(images/pexels-polina-tankilevitch-4110226.jpg);
    background-size: cover;
    background-position: start;
}

.second{
    margin-top: 550px;
}